main #confirmation-message{
    position: absolute;
    left: 400px;
    top: 200px;
    font-size: 30px;
    color: #827878;
    
}

main #btback{
    position: absolute;
    left: 590px;
    top: 300px;
}