header{
    background: #0BA7D8;
    top: 0%;
    width: 100%;
    height: 110px;
}

header #client-name{
    position: absolute;
    font-size: 15px;
    font-weight: 50px;
    left: 830px;
    top: 80px;
    letter-spacing: 10;
    color: #FFFFFF;
}

header #btexit{
    cursor: pointer;
    position: absolute;
    width: 44px;
    height: 57px;
    left: 1400px;
    top: 40px;
    letter-spacing: 10;
    color: #FFFFFF;
}

header #btaccount{
    cursor: pointer;
    position: absolute;
    width: 44px;
    height: 57px;
    left: 1470px;
    top: 40px;
    letter-spacing: 10;
    color: #FFFFFF;
}

header #logo{
    border: none;
    padding: 0px;
    margin: 0px;
    font: 400 1.8rem/1 "Roboto", sans-serif;
    height: 110px;
}

header #site-name{
    font-size: 60px;
    font-weight: 700;
    margin-left: 31px;
    letter-spacing: 10;
    color: #FFFFFF;
}

header #shap{
    margin-left: 31px;
    max-width:200px;
    max-height:50px;
    width: auto;
    height: auto;
    overflow: hidden;
}
