main #search-result-phrase{
    text-align: left;
}

main #btsearch{
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 25px;
    left: 40%;
    top: -43px;
    background-color: #0BA7D8;
}